tmp_prem/prlab/LabexBis/calypsoNS_before_change_of_IP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://192.168.0.21:8080/InfonetWS/services/calypsoNS" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://192.168.0.21:8080/InfonetWS/services/calypsoNS" xmlns:intf="http://192.168.0.21:8080/InfonetWS/services/calypsoNS" xmlns:tns1="exceptions.calypso.infonet.com" xmlns:tns2="valueobjects.calypso.infonet.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="valueobjects.calypso.infonet.com"/>
   <import namespace="exceptions.calypso.infonet.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="exceptions.calypso.infonet.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="valueobjects.calypso.infonet.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="CalypsoException">
    <sequence>
     <element name="info" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="valueobjects.calypso.infonet.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="exceptions.calypso.infonet.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Message">
    <sequence>
     <element name="text" nillable="true" type="xsd:string"/>
     <element name="ID" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="receiveMessageResponse1">

      <wsdl:part name="receiveMessageReturn" type="tns2:Message"/>

   </wsdl:message>

   <wsdl:message name="getUniqueIDResponse">

      <wsdl:part name="getUniqueIDReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getVersionListResponse">

      <wsdl:part name="getVersionListReturn" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="ackMessageRequest">

      <wsdl:part name="msgID" type="xsd:string"/>

      <wsdl:part name="queueName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="sendMessageRequest1">

      <wsdl:part name="msg" type="xsd:string"/>

      <wsdl:part name="HL7Version" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getVersionListRequest">

   </wsdl:message>

   <wsdl:message name="sendMessageResponse">

   </wsdl:message>

   <wsdl:message name="receiveMessageRequest">

      <wsdl:part name="queueName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getUniqueIDRequest">

   </wsdl:message>

   <wsdl:message name="receiveMessageRequest1">

      <wsdl:part name="queueName" type="xsd:string"/>

      <wsdl:part name="HL7Version" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="ackMessageResponse">

   </wsdl:message>

   <wsdl:message name="CalypsoException">

      <wsdl:part name="fault" type="tns1:CalypsoException"/>

   </wsdl:message>

   <wsdl:message name="sendMessageRequest">

      <wsdl:part name="msg" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="receiveMessageResponse">

      <wsdl:part name="receiveMessageReturn" type="tns2:Message"/>

   </wsdl:message>

   <wsdl:message name="sendMessageResponse1">

   </wsdl:message>

   <wsdl:portType name="CalypsoWSNS">

      <wsdl:operation name="getVersionList">

         <wsdl:input message="intf:getVersionListRequest" name="getVersionListRequest"/>

         <wsdl:output message="intf:getVersionListResponse" name="getVersionListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sendMessage" parameterOrder="msg">

         <wsdl:input message="intf:sendMessageRequest" name="sendMessageRequest"/>

         <wsdl:output message="intf:sendMessageResponse" name="sendMessageResponse"/>

         <wsdl:fault message="intf:CalypsoException" name="CalypsoException"/>

      </wsdl:operation>

      <wsdl:operation name="sendMessage" parameterOrder="msg HL7Version">

         <wsdl:input message="intf:sendMessageRequest1" name="sendMessageRequest1"/>

         <wsdl:output message="intf:sendMessageResponse1" name="sendMessageResponse1"/>

         <wsdl:fault message="intf:CalypsoException" name="CalypsoException"/>

      </wsdl:operation>

      <wsdl:operation name="receiveMessage" parameterOrder="queueName">

         <wsdl:input message="intf:receiveMessageRequest" name="receiveMessageRequest"/>

         <wsdl:output message="intf:receiveMessageResponse" name="receiveMessageResponse"/>

         <wsdl:fault message="intf:CalypsoException" name="CalypsoException"/>

      </wsdl:operation>

      <wsdl:operation name="receiveMessage" parameterOrder="queueName HL7Version">

         <wsdl:input message="intf:receiveMessageRequest1" name="receiveMessageRequest1"/>

         <wsdl:output message="intf:receiveMessageResponse1" name="receiveMessageResponse1"/>

         <wsdl:fault message="intf:CalypsoException" name="CalypsoException"/>

      </wsdl:operation>

      <wsdl:operation name="ackMessage" parameterOrder="msgID queueName">

         <wsdl:input message="intf:ackMessageRequest" name="ackMessageRequest"/>

         <wsdl:output message="intf:ackMessageResponse" name="ackMessageResponse"/>

         <wsdl:fault message="intf:CalypsoException" name="CalypsoException"/>

      </wsdl:operation>

      <wsdl:operation name="getUniqueID">

         <wsdl:input message="intf:getUniqueIDRequest" name="getUniqueIDRequest"/>

         <wsdl:output message="intf:getUniqueIDResponse" name="getUniqueIDResponse"/>

         <wsdl:fault message="intf:CalypsoException" name="CalypsoException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="calypsoNSSoapBinding" type="intf:CalypsoWSNS">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getVersionList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVersionListRequest">

            <wsdlsoap:body namespace="http://webservice.calypso.infonet.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVersionListResponse">

            <wsdlsoap:body namespace="http://192.168.0.21:8080/InfonetWS/services/calypsoNS" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendMessageRequest">

            <wsdlsoap:body namespace="http://webservice.calypso.infonet.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendMessageResponse">

            <wsdlsoap:body namespace="http://192.168.0.21:8080/InfonetWS/services/calypsoNS" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="CalypsoException">

            <wsdlsoap:fault name="CalypsoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="sendMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendMessageRequest1">

            <wsdlsoap:body namespace="http://webservice.calypso.infonet.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendMessageResponse1">

            <wsdlsoap:body namespace="http://192.168.0.21:8080/InfonetWS/services/calypsoNS" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="CalypsoException">

            <wsdlsoap:fault name="CalypsoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="receiveMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="receiveMessageRequest">

            <wsdlsoap:body namespace="http://webservice.calypso.infonet.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="receiveMessageResponse">

            <wsdlsoap:body namespace="http://192.168.0.21:8080/InfonetWS/services/calypsoNS" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="CalypsoException">

            <wsdlsoap:fault name="CalypsoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="receiveMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="receiveMessageRequest1">

            <wsdlsoap:body namespace="http://webservice.calypso.infonet.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="receiveMessageResponse1">

            <wsdlsoap:body namespace="http://192.168.0.21:8080/InfonetWS/services/calypsoNS" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="CalypsoException">

            <wsdlsoap:fault name="CalypsoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="ackMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ackMessageRequest">

            <wsdlsoap:body namespace="http://webservice.calypso.infonet.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="ackMessageResponse">

            <wsdlsoap:body namespace="http://192.168.0.21:8080/InfonetWS/services/calypsoNS" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="CalypsoException">

            <wsdlsoap:fault name="CalypsoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUniqueID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUniqueIDRequest">

            <wsdlsoap:body namespace="http://webservice.calypso.infonet.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUniqueIDResponse">

            <wsdlsoap:body namespace="http://192.168.0.21:8080/InfonetWS/services/calypsoNS" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="CalypsoException">

            <wsdlsoap:fault name="CalypsoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalypsoWSNSService">

      <wsdl:port binding="intf:calypsoNSSoapBinding" name="calypsoNS">

         <wsdlsoap:address location="http://195.246.6.201:8080/InfonetWS/services/calypsoNS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>