tmp_prem/prefa/EFA_WS/Schemas/EfaPaketSchemaIn.xml

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:sql="urn:schemas-microsoft-com:mapping-schema"
             xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"
             xmlns:fn="http://www.w3.org/2005/02/xpath-functions" >
 


  <!-- ********  BEGIN - DECLARATION OF ENUMERATOR TYPES ******** -->
  
  <xsd:simpleType name="Type_VirID">
      <!-- Sync IDs to correspond names from database table 
      EfaViri -->
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="10" id="UPO"></xsd:enumeration>
      <xsd:enumeration value="11" id="UPO1"></xsd:enumeration>
      <xsd:enumeration value="12" id="UPO2"></xsd:enumeration>
      <xsd:enumeration value="20" id="CA"></xsd:enumeration>
      <xsd:enumeration value="30" id="Ostalo"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Type_DokumentStatusId">
    <!-- Status is constrained to 1 at this stage -->
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="1" id="Nedefiniran"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Type_StrmAliSklTip">
    <!-- Pri kreiranju zahtevkov iz potrdil se na podlagi tega polja (če je notri vrednost 2)
    šifra skladišča pretvori v šifro Strm -->
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="1" id="Strm"></xsd:enumeration>
      <xsd:enumeration value="2" id="Skl"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Type_DokumentTipId">
    <!-- Sync values with the table EfaDokumentTip -->
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="10" id="PotrdiloNaročilo"></xsd:enumeration>
      <xsd:enumeration value="11" id="StornoPotrdiloNaročilo"></xsd:enumeration>
      <xsd:enumeration value="12" id="PopravekPotrdiloNaročilo"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Type_DokumentVzrokNastankaId">
    <!-- Sync values with the table EfaDokumentVzrokNastanka! -->
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="0" id="ObičajniDokument"></xsd:enumeration>
      <xsd:enumeration value="1" id="StornoNapaka"></xsd:enumeration>
      <xsd:enumeration value="2" id="StornoDdv"></xsd:enumeration>
      <xsd:enumeration value="3" id="DobropisNapaka"></xsd:enumeration>
      <xsd:enumeration value="4" id="DobropisDdv"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Type_PaketId">
    <!-- At entrance, this field must be set to -1 (agreement)
      Remark - this may change if a better solution is found -->
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="-1" id="paket1"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  
  <!-- ********  END - DECLARATION OF ENUMERATOR TYPES ******** -->
  
  <xsd:annotation>
     <xsd:appinfo>
      <sql:relation name="efapaket"
            key-fields="Id" />
      <sql:relationship name="paketglava"
            parent="EfaPaket"
            parent-key="Id"
            child="EfaGlava"
            child-key="PaketId" />
       <sql:relationship name="glavateksti"
             parent="EfaGlava"
             parent-key="Id"
             child="EfaGlavaTeksti"
             child-key="GlavaId"/>
       <sql:relationship name="glavapriloge"
             parent="EfaGlava"
             parent-key="Id"
             child="EfaGlavaPriloge"
             child-key="GlavaId"/>
      <sql:relationship name="glavapostavke"
            parent="EfaGlava"
            parent-key="Id"
            child="EfaPostavke"
            child-key="GlavaId"/>
       <sql:relationship name="postavkevrednosti"
            parent="EfaPostavke"
            parent-key="Id"
            child="EfaPostavkeVrednosti"
            child-key="Id" />
     </xsd:appinfo>
   </xsd:annotation>

  <xsd:element name="EfaPaket" sql:is-constant="1">
    <xsd:complexType>
      <xsd:sequence>
                
        <!-- PodrocjeId: za določen vir je vedno isto, za Upo1 inUpo2 je to 1. -->
        <xsd:element name="PodrocjeId" type="xsd:int" sql:is-constant="1"></xsd:element>
        <!--PaketTipId: Na Upo je to vedno 1 (=ovrednoten). -->
        <xsd:element name="PaketTipId" type="xsd:int" sql:is-constant="1"></xsd:element>
        <xsd:element name="PaketDatum" type="xsd:date" sql:is-constant="1"></xsd:element>
        <xsd:element name="StZapisov" type="xsd:int" sql:is-constant="1"> </xsd:element>
        <xsd:element name="VsotaDokumentDatum" type="xsd:decimal" sql:is-constant="1"> </xsd:element>
        <xsd:element name="VsotaCenaNeto" type="xsd:decimal" sql:is-constant="1"> </xsd:element>

        <xsd:element name="EfaGlava" minOccurs="1" maxOccurs="100000" 
                     sql:relation="EfaGlava" 
                     sql:key-fields="Id"
                     sql:relationship="paketglava">
          <xsd:complexType>
            <xsd:sequence>
              <!-- VirID: sprememba tipa, iz type="xsd:byte" v type="Type_VirID" (19.5.2008)  -->
              <xsd:element name="VirID" type="Type_VirID" minOccurs="1" sql:field="VirID"/>
              <xsd:element name="PoslovnaEnotaId" type="xsd:string" minOccurs="1" sql:field="PoslovnaEnotaId"/>
              <!-- StrmAliSkl: v tem polju je lahko stroškovno mesto ali skladišče; kaj številka pomeni je definirano v naslednjem polju (dodano 13.6.2008)  -->
              <xsd:element name="StrmAliSklId" type="xsd:string" minOccurs="1" sql:field="StrmAliSklId"/>
              <xsd:element name="StrmAliSklTip" type="Type_StrmAliSklTip" minOccurs="1" sql:field="StrmAliSklTip"/>
              <!-- PostaId smo vrgli ven iz paketa, 12.6.2008, DG 
                   Vendar smo ga spet dodali, 11.11.2008, IG
              -->
              <xsd:element name="PostaId" type="xsd:string" minOccurs="1" sql:field="PostaId"/>
              <!--DatumValute dodan 7.7.09 DH -->
              <xsd:element name="DatumValute" type="xsd:date" minOccurs="1" sql:field="DatumValute"/>
              <!-- DokumentTipId: sprememba tipa, iz type="xsd:byte" v type="Type_DokumentTipId" (19.5.2008)  -->
              <xsd:element name="DokumentTipId" type="Type_DokumentTipId" minOccurs="1" sql:field="DokumentTipId"/>
              <!-- DokumentVzrokNastankaId: sprememba tipa, iz type="xsd:byte" v type="Type_DokumentVzrokNastankaId" (19.5.2008)  -->
              <xsd:element name="DokumentVzrokNastankaId" type="Type_DokumentVzrokNastankaId" minOccurs="0" sql:field="DokumentVzrokNastankaId"/>
              <xsd:element name="DokumentDatum" type="xsd:date" minOccurs="1" sql:field="DokumentDatum"/>
              <xsd:element name="DokumentStevilka" type="xsd:integer" minOccurs="1" sql:field="DokumentStevilka"/>
              <xsd:element name="VezaNaOriginal" type="xsd:integer" minOccurs="0" sql:field="VezaNaOriginal"/>
              <!-- Dodano 21.7 DH-->
              <xsd:element name="VezaNaOriginalPostaId" type="xsd:string" minOccurs="0" sql:field="VezaNaOriginalPostaId"/>
              <xsd:element name="VezaNaOriginalDatumValute" type="xsd:date" minOccurs="0" sql:field="VezaNaOriginalDatumValute"/>
              <!-- VezaNaOriginalOpis dodano 11.11.2008, IG -->
              <xsd:element name="VezaNaOriginalOpis" type="xsd:string" minOccurs="1" sql:field="VezaNaOriginalOpis"/>
              <xsd:element name="DatumOpravljenihStoritev" type="xsd:date" minOccurs="1" sql:field="DatumOpravljenihStoritev"/>
              <xsd:element name="PodruznicaId" type="xsd:integer" minOccurs="1" sql:field="PodruznicaId"/>
              <xsd:element name="KomitentNarocnikId" type="xsd:integer" minOccurs="1" sql:field="KomitentNarocnikId"/>
              <!-- IG: KomitentPlacnikId dodan 19.1.2009, ker bo na nekaterih bazah to polje definirano. -->
              <xsd:element name="KomitentPlacnikId" type="xsd:integer" minOccurs="0" sql:field="KomitentPlacnikId" />
              <!-- 29. 10. (IG) - dodana PogodbaId, naročnik jamči, da bo v FinPrometGlava.StVeznegaDok zapisana PogodbaId, 
              ki je zaenkrat tam še kot niz in jo je treb pretvoriti v int (lahko je tudi null)  -->
              <xsd:element name="PogodbaId" type="xsd:integer" minOccurs="1" sql:field="PogodbaId"/>
              <!-- Sprememba tipa KomitentPlacnikDokumentStevilka: string -> integer (5.6.08); nazaj: integer->string (25.8.08), ker pride iz CRX.PogPogodbe.StevilkaPogodbe namesto iz PogodbaId. -->
              <!-- Sprememba, 29.10.2008, DG, tega polja ne rabimo več, ker imamo PogodbaId
              <xsd:element name="KomitentPlacnikDokumentStevilka" type="xsd:string" minOccurs="1" sql:field="KomitentPlacnikDokumentStevilka"/>
              <xsd:element name="KomitentPlacnikDokumentTip" type="xsd:byte" minOccurs="1" sql:field="KomitentPlacnikDokumentTip"/>
              -->
              <xsd:element name="PrometVrstaId" type="xsd:integer" minOccurs="1" sql:field="PrometVrstaId"/>
              <xsd:element name="UporabnikId" type="xsd:string" minOccurs="1" sql:field="UporabnikId"/>
              <!-- PaketId: sprememba tipa, iz type="xsd:byte" v type="Type_PaketId" (19.5.2008)  -->
              <xsd:element name="PaketId" type="Type_PaketId" minOccurs="1" sql:field="PaketId"/>
              <!-- PaketIdInterni: iz baze podatkov iz katere je paket generiran; 0  pomeni, da glava še ni bila izvožena. Ajgor, 21.8.2008 -->
              <xsd:element name="Paket1" type="xsd:integer" minOccurs="1" sql:field="PaketIdInterni"/>
              <xsd:element name="IzvorGlavaId" type="xsd:int" minOccurs="1" sql:field="IzvorGlavaId"/>
              <!-- DokumentStatusId: sprememba tipa, iz type="xsd:byte" v type="Type_DokumentStatusId" (19.5.2008)  -->
              <xsd:element name="DokumentStatusId" type="Type_DokumentStatusId" minOccurs="1" sql:field="DokumentStatusId"/>
              <!-- Storno gre ven, ker tu še ne vemo, ali bo vnos storniran ali ne.
                Elementi, ki pomeijo naročilo za storniranje, morajo imeti to označeno
                v polju vrsta. (Denis, izvedel Ajgor, 19.5.2008)
                <xsd:element name="Storno" type="xsd:boolean" minOccurs="1" sql:field="Storno"/>
              -->
              <xsd:element name="ValutaId" type="xsd:string" minOccurs="1" sql:field="ValutaId"/>
              <xsd:element name="ValutaOznaka" type="xsd:string" minOccurs="1" sql:field="ValutaOznaka"/>
              <xsd:element name="ValutaTecaj" type="xsd:decimal" minOccurs="1" sql:field="ValutaTecaj"/>
              
              <!--EfaTeksti: dodano 26.6. (IG)-->
              <xsd:element name="EfaGlavaTekst" minOccurs="0" maxOccurs="unbounded"
                          sql:relation="EfaGlavaTeksti"
                          sql:key-fields="Id"
                          sql:relationship="glavateksti">
                <xsd:complexType>
                  <xsd:sequence>
                    <!-- Currently, PaketId is not defined in the database, therefore the sql:is-constant attribute:
                    <xsd:element name="PaketId" type="xsd:int" minOccurs="1" maxOccurs="1" sql:is-constant="true" />
                    -->
                      
                    <xsd:element name="GlavaId" type="xsd:int" minOccurs="1" maxOccurs="1" sql:field="GlavaId" />
                    <xsd:element name="VrstniRed" type="xsd:int" minOccurs="1" maxOccurs="1" sql:field="VrstniRed" />
                    <xsd:element name="TekstTipId" type="xsd:int" minOccurs="1" maxOccurs="1" sql:field="TekstTipId" />
                    <xsd:element name="Tekst" type="xsd:string" minOccurs="1" maxOccurs="1" sql:field="Tekst" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>

              <!-- EfaGlavaPriloga: dodano 26.6. (IG)-->
              <xsd:element name="EfaGlavaPriloga" minOccurs="0" maxOccurs="unbounded"
                          sql:relation="EfaGlavaPriloge"
                          sql:key-fields="Id"
                          sql:relationship="glavapriloge">
                <xsd:complexType>
                  <xsd:sequence>
                    <!-- Currently, PaketId is not defined in the database, therefore the sql:is-constant attribute:
                    <xsd:element name="PaketId" type="xsd:int" minOccurs="1" maxOccurs="1" sql:is-constant="true" />
                    -->
                    
                    <xsd:element name="GlavaId" type="xsd:int" minOccurs="1" maxOccurs="1" sql:field="GlavaId" />
                    <xsd:element name="PrilogaTekst" type="xsd:string" minOccurs="1" maxOccurs="1" sql:field="PrilogaTekst" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="EfaPostavke" minOccurs="1" maxOccurs="unbounded"
                          sql:relation="EfaPostavke" 
                          sql:key-fields="Id"
                          sql:relationship="glavapostavke">
                <xsd:complexType>
                  <xsd:sequence>
                    <!-- GlavaId gre ven, ker v trenutku vnosa v bazo ID glave še ni določen (dloločil se interno
                    v sistemu) in nima smiala od uporabnikov zahtevati, da vnašajo to polje.
                      <xsd:element name="GlavaId" type="xsd:int" minOccurs="1" sql:field="GlavaId"/>
                    -->
                    <xsd:element name="PaketId" type="xsd:int" minOccurs="1" sql:field="PaketId"/>
                    <xsd:element name="IzvorGlavaId" type="xsd:int" minOccurs="1" sql:field="IzvorGlavaId"/>
                    <xsd:element name="IzvorPostavkaId" type="xsd:int" minOccurs="1" sql:field="IzvorPostavkaId"/>
                    <xsd:element name="PoslovanjeGrupaId" type="xsd:integer" minOccurs="1" sql:field="PoslovanjeGrupaId"/>
                    <xsd:element name="TransakcijaTipId" type="xsd:integer" minOccurs="1" sql:field="TransakcijaTipId"/>
                    <xsd:element name="TransakcijaVrstaId" type="xsd:integer" minOccurs="1" sql:field="TransakcijaVrstaId"/>
                    <xsd:element name="StoritevId" type="xsd:integer" minOccurs="1" sql:field="StoritevId"/>
                    <xsd:element name="StoritevNaziv" type="xsd:string" minOccurs="1" sql:field="StoritevNaziv"/>
                    <xsd:element name="EnotaMereId" type="xsd:integer" minOccurs="1" sql:field="EnotaMereId"/>
                    <xsd:element name="EnotaMereKratica" type="xsd:string" minOccurs="1" sql:field="EnotaMereKratica"/>
                    <xsd:element name="Kolicina" type="xsd:decimal" minOccurs="1" sql:field="Kolicina"/>
                    <!-- Stvari povezane z Valuto se premaknejo navzgor, dodan ValutaTecaj (ajgor, 23.5.08) 
                    <xsd:element name="ValutaId" type="xsd:string" minOccurs="1" sql:field="ValutaId"/>
                    <xsd:element name="ValutaOznaka" type="xsd:string" minOccurs="1" sql:field="ValutaOznaka"/>
                    -->
                    <xsd:element name="SifraKontiranjaId" type="xsd:integer" minOccurs="1" sql:field="SifraKontiranjaId"/>
                    <!-- Type of StrmId changed to string, enumeration type Type_StrmId deleted (IG, 10.10.2008) -->
                    <xsd:element name="StrmId" type="xsd:string" minOccurs="1" sql:field="StrmId"/>
                    <xsd:element name="IzjavaId" type="xsd:integer" minOccurs="1" sql:field="IzjavaId"/>
                    <xsd:element name="Opomba" type="xsd:string" minOccurs="0" sql:field="Opomba"/>
                    <xsd:element name="EfaPostavkeVrednosti" minOccurs="0" maxOccurs="1" 
                                sql:relation="EfaPostavkeVrednosti" 
                                sql:key-fields="Id"
                                sql:relationship="postavkevrednosti">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CenaNeto" type="xsd:decimal" minOccurs="1" sql:field="CenaNeto"/>
                          <xsd:element name="CenaNetoDejanska" type="xsd:decimal" minOccurs="1" sql:field="CenaNetoDejanska"/>
                          <xsd:element name="CenaNetoDejanskaIzvor" type="xsd:byte" minOccurs="1" sql:field="CenaNetoDejanskaIzvor"/>
                          <xsd:element name="PopustProcent" type="xsd:decimal" minOccurs="1" sql:field="PopustProcent"/>
                          <xsd:element name="DavekId" type="xsd:string" minOccurs="1" sql:field="DavekId"/>
                          <xsd:element name="DavekProcent" type="xsd:decimal" minOccurs="1" sql:field="DavekProcent"/>
                          <!-- Dodano 29.9. - polja, ki jih še nismo dodali -->
                          <xsd:element name="PlacanoZnamka" type="xsd:decimal" minOccurs="1" sql:field="PlacanoZnamka"/>
                          <xsd:element name="PlacanoPostninskiStroj" type="xsd:decimal" minOccurs="1" sql:field="PlacanoPostninskiStroj"/>
                          <xsd:element name="PlacaNaslovnik" type="xsd:decimal" minOccurs="1" sql:field="PlacaNaslovnik"/>
                          
                          <!-- $$nepreizkušeno: Dodano 9.10. -->
                          <xsd:element name="PopustVrednost" type="xsd:decimal" minOccurs="1" sql:field="PopustVrednost"/>
                          <xsd:element name="DavekVrednost" type="xsd:decimal" minOccurs="1" sql:field="DavekVrednost"/>
                          <xsd:element name="NetoVrednostBrezPopusta" type="xsd:decimal" minOccurs="1" sql:field="NetoVrednostBrezPopusta"/>
                          <xsd:element name="NetoVrednostSPopustom" type="xsd:decimal" minOccurs="1" sql:field="NetoVrednostSPopustom"/>
                          
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  </xsd:element>
</xsd:schema>
